:root {
  --dark-blue: #0a1018;
  --components-background-blue: #161c23;
  --text-white: #ffffff;
  --text-yellow: #e2c19d;
  --text-active-yellow: #c78d4e;
  --text-inactive-yellow: #7d6d5c;
  --text-dark-grey: #474848;
  --text-light-grey: #adabaa;
  --cta-blue: #5151ff;
  --model-bg-color: #131619;
  --instruction-bg-color: #1c1f22;
  --glowing-yellow: #e19a4c;
}
