:root {
  --dark-blue: #0a1018;
  --components-background-blue: #161c23;
  --text-white: #ffffff;
  --text-yellow: #e2c19d;
  --text-active-yellow: #c78d4e;
  --text-inactive-yellow: #7d6d5c;
  --text-dark-grey: #474848;
  --text-light-grey: #adabaa;
  --cta-blue: #5151ff;
  --model-bg-color: #131619;
  --instruction-bg-color: #1c1f22;
  --glowing-yellow: #e19a4c;
}
.margin-t10 {
  margin-top: 10px;
}
.margin-t20 {
  margin-top: 20px;
}
.margin-t30 {
  margin-top: 30px;
}
.margin-t50 {
  margin-top: 50px;
}
.flex {
  display: flex;
}
.gap20 {
  gap: 20px;
}
.gap10 {
  gap: 10px;
}
.flex-end {
  justify-content: flex-end;
}
.font-size16 {
  font-size: 16px;
}
.fontW-500 {
  font-weight: 500;
}
.color-yellow {
  color: var(--text-yellow);
}
.color-yellow-active {
  color: var(--text-active-yellow);
}
.color-yellow-inactive {
  color: var(--text-inactive-yellow);
}
.color-light-grey {
  color: var(--text-light-grey);
}
.color-dark-grey {
  color: var(--text-dark-grey);
}
.flex-space-btw {
  justify-content: space-between;
}
.color-white {
  color: var(--text-white);
}
.color-cta-blue {
  color: var(--cta-blue);
}
.flex-align-justify-center {
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.cursor {
  cursor: pointer;
}
.w-20 {
  width: 20%;
}

.flex-grow {
  flex-grow: 1;
}
.flex-align-center {
  align-items: center;
}

.text-align-end {
  text-align: end;
}

.w-174 {
  width: 174px;
}
